* {
  --primary-color: #024F9B;
  --primary-color-rgb: 37, 166, 164;
  --secondary-color: #25A6A4;
  --primary-gradient: 45deg, var(--primary-color), var(--secondary-color);
  --bg-dark-1: #12132c;
  --bg-dark-2: #191b36;
  --bg-dark-3: #222e66;  
  --bg-dark-1-rgb: 18, 19, 44;
}

